.paint
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #f8f9fa
    border-bottom: 1px solid #ddd
canvas
    border: 1px solid black
