.aLink
    padding: 6px 8px 6px 16px
    text-decoration: none
    font-size: 25px
    color: #818181
    display: block
    transition: 0.3s
    & .homeIcon
        width: 30px
        stroke: #fff
        fill: #fff
        height: 30px
        margin-right: 10px
        transition: transform 0.3s ease

        & .homeIcon:hover
            transform: scale(1.2)

    & .aLink:hover
        color: #f1f1f1

    & .aLink.active
        color: #fff
        background-color: #4CAF50
