.main-container
    scroll-behavior: smooth

.section
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    background-color: #f8f9fa
    border-bottom: 1px solid #ddd

#section1
    justify-content: center
    align-items: center
    gap: 50px
    background-image: url("https://github.com/pastilkaxo/WebPhotoIllustrator/blob/f7b17b911ecc6847fb5be11e4823fd1ec522adc1/public/Images/bg1.png?raw=true")
    & .sum1
        font-size: 80px
    & .regForm
        border-radius: 30px
        background-color: white
        width: 500px
        height: 600px
    & .logoBg
        border-radius: 30px
        background-color: green
        width: 60px
        height: 60px
    & #accEnter
        width: 100%
        padding: 7px
        border-radius: 30px
        background-color: red
        color: white
        font-weight: bold
        border: none
        transition: transform 0.3s ease
        transition: background-color 0.1s ease
        margin-top: 10px
    & #accEnter:hover
        transform: scale(1.1)
        margin-top: 10px
    & #accEnter:active
        background-color: green

#section2
    background-color: #4ecdc4

#section3
    background-color: #ffe66d

#section4
    background-color: #1a535c
    color: white
