.nav {
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.logoIcon {
  width: 50px;
  transition: transform 0.3s ease;
}

.logoIcon:hover {
  transform: scale(1.2);
}

.homeIcon {
  width: 42px;
  transition: transform 0.3s ease;
}

.homeIcon:hover {
  transform: scale(1.2);
}

.accountIcon {
  transition: transform 0.3s ease;
}

.accountIcon:hover {
  transform: scale(1.2);
}

.aLink:hover {
  color: #f1f1f1;
}

.aLink:active {
  color: #fff;
  background-color: #4CAF50;
}

.main-container {
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

#section1 {
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-image: url("https://github.com/pastilkaxo/WebPhotoIllustrator/blob/f7b17b911ecc6847fb5be11e4823fd1ec522adc1/public/Images/bg1.png?raw=true");
}
#section1 .sum1 {
  font-size: 80px;
}
#section1 .regForm {
  border-radius: 30px;
  background-color: white;
  width: 500px;
  height: 600px;
}
#section1 .logoBg {
  border-radius: 30px;
  background-color: green;
  width: 60px;
  height: 60px;
}
#section1 #accEnter {
  width: 100%;
  padding: 7px;
  border-radius: 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  transition: transform 0.3s ease;
  transition: background-color 0.1s ease;
  margin-top: 10px;
}
#section1 #accEnter:hover {
  transform: scale(1.1);
  margin-top: 10px;
}
#section1 #accEnter:active {
  background-color: green;
}

#section2 {
  background-color: #4ecdc4;
}

#section3 {
  background-color: #ffe66d;
}

#section4 {
  background-color: #1a535c;
  color: white;
}

.paint-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
}

#menu-bar {
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  background-color: #343a40;
  color: white;
  padding: 0;
  margin: 0;
}

#tool-menu {
  background-color: #343a40;
  list-style: none;
  padding: 10px;
  margin: 0;
  align-items: center;
  display: flex;
  gap: 20px;
}

.editor-content {
  display: flex;
  flex: 1;
  height: calc(100vh - 60px);
  background-color: #171719;
}

#tool-actions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  background-color: #495057;
  color: white;
  list-style: none;
  padding: 10px;
  margin: 0;
  gap: 10px;
}

.tool-action {
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s;
  height: auto;
  min-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tool-action:hover {
  background-color: #6c757d;
}
.tool-action img {
  width: 24px;
  height: 24px;
}

.canvas-wrapper {
  width: 100%;
  height: 100%;
  min-height: 700px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas-container {
  overflow: hidden;
}

#action-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #6c757d;
}
#action-menu .action-variables {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
}
#action-menu .action-variables .pointer-cords {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#action-menu .action-variables .canva-sizes {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#action-menu .selected-action-menu {
  display: flex;
  align-items: center;
}
#action-menu .selected-action-menu .action-icon {
  margin-right: 8px;
  width: 38px;
}
#action-menu .selected-action-menu .action-name {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  justify-content: center;
}
#action-menu .selected-action-menu .action-name .action-list {
  list-style: none;
  display: flex;
  gap: 5px;
  flex-direction: row;
  padding: 0;
  margin: 0;
}
#action-menu .selected-action-menu .action-name .action-list .figure-active {
  background-color: #276faf;
}
#action-menu .selected-action-menu .action-name .action-list li {
  margin: 2px 0;
  padding: 5px;
  background-color: #3d4145;
  border-radius: 5px;
}
#action-menu .selected-action-menu .action-name .action-list li:hover {
  background-color: #276faf;
}
#action-menu .selected-action-menu .action-name .action-list li img {
  width: 25px;
  cursor: pointer;
}
#action-menu .selected-action-menu .figure-color {
  margin-left: 8px;
}

@media (max-width: 767.98px) {
  .wrapper {
    flex-direction: column !important;
    height: 100vh !important;
  }
  .bg-success {
    min-height: 60px !important;
    height: 60px !important;
    width: 100vw !important;
    max-width: 100vw !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
  }
  .nav {
    flex-direction: row !important;
    width: 100% !important;
    gap: 10px;
    justify-content: start !important;
    align-items: center !important;
    margin-bottom: 0 !important;
  }
  .homeIcon {
    width: 32px;
  }
  .accountIcon {
    width: 40px;
    margin-left: auto;
  }
  .main-menu .nav-item {
    display: none;
  }
  .main-menu .menu-togler {
    display: block;
  }
}
@media (min-width: 768px) {
  .main-menu .nav-item {
    display: block;
  }
  .main-menu .menu-togler {
    display: none;
  }
  .bg-success {
    width: 120px !important;
    min-width: 120px !important;
    max-width: 120px !important;
    min-height: 100vh !important;
    height: 100vh !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .nav {
    flex-direction: column !important;
    width: 100%;
    margin-bottom: auto;
  }
}
@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: "Roboto";
}

body {
  background-color: #f0f0f0;
  color: #333;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  color: white;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.main {
  margin-left: 160px;
  font-size: 28px;
  padding: 0px 10px;
}

.d-flex.min-vh-100 {
  min-height: 100vh;
  height: 100vh;
}/*# sourceMappingURL=App.css.map */